@using MwProject.Helpers
@model MwProject.Core.ViewModels.ProjectViewModel



    @*
        Widok częściowy z informacjami ekonomicznymi powiązanymi z projektem
        Wersja do umieszczenia na wydruku .AddBr()
    *@

    @{

        int typeOfRequirement = 3;
        var requirements = Model.Project.ProjectRequirements.Where(x => x.Requirement.Type == typeOfRequirement);
    }

    <div>
        <div class="row">
            <div class="col-12">
                <div class="mt-2 mb-4">
                    <h4>Opis</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 pb-2">
                @(Html.Raw((string)(Model.Project.Description).AddBr()))
            </div>
        </div>
    </div>
