@model MwProject.Core.ViewModels.ProjectViewModel
@*
    Widok częściowy z informacjami ekonomicznymi powiązanymi z projektem
    Wersja do umieszczenia na wydruku
*@

@{
    int typeOfRequirement = 3;
    var requirements = Model.Project.ProjectRequirements.Where(x => x.Requirement.Type == typeOfRequirement);
}

<div>
    <div class="row">
        <div class="col-12">
            <div class="mt-2 mb-4">
                <h4>Informacje Ogólne</h4>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            @if (requirements != null && requirements.Any())
            {

                <table class="table table-sm table-striped">
                    <tbody>
                        @foreach (var position in requirements)
                        {
                            <tr>
                                <td  style="width: 300px;">
                                    <strong>
                                        @position.Requirement.Name
                                    </strong>
                                </td>

                                @{
                                    string exist;
                                    switch (position.YesNo)
                                    {
                                        case 1:
                                            exist = "TAK";
                                            break;
                                        case 2:
                                            exist = "NIE";
                                            break;
                                        default:
                                            exist = "";
                                            break;
                                    }

                                    string value = position.ShowValue == true ? position.Value.ToString() : "";
                                }

                                <td>@exist</td>
                                <td>@value</td>
                                <td>@position.Comment</td>

                            </tr>
                        }

                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
